.bodegas-page {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .masonry-section {
    flex: 1;
  }
  
  .text-section {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .tours-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .tours-section img {
    width: 50%;
  }

  .home {
    text-align: center;
    padding-bottom: 4rem;
    
  }

  .text {
    text-align: justify;
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: 1.1rem !important;
  }