.bodegas-page {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .masonry-section {
    flex: 1;
  }
  
  .text-section {
    flex: 2;
    display: flex;
    flex-direction: column;

  }
  
  .tours {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .tours-img {
    width: 50%;
  }

  .bodegas {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 10rem;
  }

  .text {
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1.1rem !important;
  }
  
  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 1.5rem;
    
  }
